body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url('https://th.bing.com/th/id/R.ab18da011e961a9d9f32aa89f57e6734?rik=Gsm6cS5ucQ7tHQ&pid=ImgRaw&r=0');
    background-size: auto;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-color: rgb(153, 153, 153);
  }
  form {
    background-color: #fff;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  label {
    display: block;
    margin-bottom: 6px;
  }